
EFI/BOOT/BOOTx64.efi
EFI/OC/ACPI/SSDT-EC.aml
EFI/OC/ACPI/SSDT.aml
EFI/OC/Bootstrap/Bootstrap.efi
EFI/OC/config-macmini.plist
EFI/OC/config.plist
EFI/OC/Drivers/HFSPlus.efi
EFI/OC/Drivers/OpenRuntime.efi
EFI/OC/Kexts/AppleALC.kext/._Contents
EFI/OC/Kexts/AppleALC.kext/Contents/._Info.plist
EFI/OC/Kexts/AppleALC.kext/Contents/._MacOS
EFI/OC/Kexts/AppleALC.kext/Contents/Info.plist
EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/._AppleALC
EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/AppleALC
EFI/OC/Kexts/IntelMausiEthernet.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/IntelMausiEthernet.kext/Contents/Info.plist
EFI/OC/Kexts/IntelMausiEthernet.kext/Contents/MacOS/IntelMausiEthernet
EFI/OC/Kexts/Lilu.kext/Contents/Info.plist
EFI/OC/Kexts/Lilu.kext/Contents/MacOS/Lilu
EFI/OC/Kexts/SMCProcessor.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/SMCProcessor.kext/Contents/Info.plist
EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/SMCProcessor
EFI/OC/Kexts/SMCSuperIO.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/SMCSuperIO.kext/Contents/Info.plist
EFI/OC/Kexts/SMCSuperIO.kext/Contents/MacOS/SMCSuperIO
EFI/OC/Kexts/USBInjectAll.kext/._Contents
EFI/OC/Kexts/USBInjectAll.kext/Contents/._Info.plist
EFI/OC/Kexts/USBInjectAll.kext/Contents/._MacOS
EFI/OC/Kexts/USBInjectAll.kext/Contents/Info.plist
EFI/OC/Kexts/USBInjectAll.kext/Contents/MacOS/._USBInjectAll
EFI/OC/Kexts/USBInjectAll.kext/Contents/MacOS/USBInjectAll
EFI/OC/Kexts/VirtualSMC.kext/Contents/Info.plist
EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/VirtualSMC
EFI/OC/Kexts/WhateverGreen.kext/Contents/Info.plist
EFI/OC/Kexts/WhateverGreen.kext/Contents/MacOS/WhateverGreen
EFI/OC/OpenCore.efi
